<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
  <i id = "menu-bar" class="fa fa-bars"></i>
  <div id="menu">
    <a href="/">Home</a>
    <a href="/test">Search Google API</a>
  </div>
  
</header>